@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4 text-center">Contact Us</h1>
        <hr class="my-4">
        <div class="card w-100 text-white bg-secondary">
            <div class="card-body">
                <h5 class="card-title text-center font-weight-bold">Customer Feedback</h5>
                <p class="card-text text-center">Your experience that you may want to share with us please contact on customerfeedback@capgo.com</p>
                <h5 class="card-title text-center font-weight-bold">Call Center</h5>
                <p class="card-text text-center">For any type of Services queries,call our call center on 1800 9008 444 </p>
                <h5 class="card-title text-center font-weight-bold">Office Address</h5>
                <p class="card-text text-center">BLOCK-B, Shop No.10, Sr.No.169/1 Westend River View Apartment, New DP Rd, next to D-Mart, near Champion Sports Lane, Aundh, Pune, Maharashtra 411007</p>
            </div>
        </div>
    </div>
</body>
</html>

